.container
  %ol.breadcrumb
    %li
      = link_to 'Home', root_path
    %li Groups
    %li= link_to @group.display_name, group_path(@group)
    %li.active members

.container
  %ul.list-group
    - @group.users.each do |user|
      %li.list-group-item
        .row
          .col-lg-10.col-md-8.col-sm-4
            - if user.profile_url.present?
              = link_to user.name, user.profile_url, target: :blank
            - else
              = user.name
          .col-lg-1.col-md-2.col-sm-1.text-right
            = link_to 'twitter', 'http://twitter.com/' + user.screen_name, target: :blank, class: 'btn btn-info'
          .col-lg-1.col-md-2.col-sm-1.text-right
            = link_to 'Web', user.external_url, target: :blank, class: 'btn btn-default' if user.external_url.present?
