.container
  .panel-group#accordion
    - if @current_user.blank?
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{href: '#collapseAbout', data: {toggle: 'collapse', parent: '#accordion'}}
              %span.glyphicon.glyphicon-plus-sign
              About
        %ul.list-group.panel-collapse.collapse#collapseAbout
          %li.list-group-item
            ミリマスの情報収集サイトです。
            = link_to 'Twitterログイン', '/auth/twitter'
            すると、使える機能が増えます。
    -#.panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{href: '#collapseComments', data: {toggle: 'collapse', parent: '#accordion'}}
            %span.glyphicon.glyphicon-plus-sign
            Comments
      %ul.list-group.panel-collapse.collapse.in#collapseComments
        %li.list-group-item
          A comment
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a{href: '#collapseEntries', data: {toggle: 'collapse', parent: '#accordion'}}
            %span.glyphicon.glyphicon-plus-sign
            Entries
      %ul.list-group.panel-collapse.collapse.in#collapseEntries
        - @entry_list.each do |entry|
          %li.list-group-item
            = link_to entry.title, entry.url, target: '_blank'
            %small
              \-
              = link_to entry.feed.title, entry.feed.url
        %li.list-group-item
          .text-right
            = link_to entries_path do
              %button.btn.btn-default.btn-sm{type: 'button', style: 'margin: 0px;'}
                More

    - if @current_user.present?
      .panel.panel-default
        .panel-heading
          %h4.panel-title
            %a{href: '#collapseGroups', data: {toggle: 'collapse', parent: '#accordion'}}
              %span.glyphicon.glyphicon-plus-sign
              My Groups
        %ul.list-group.panel-collapse.collapse#collapseGroups
          - @group_list.each do |group|
            %li.list-group-item
              = link_to group.display_name, group_path(group)
          -#%li.list-group-item
            .text-right
              %button.btn.btn-default.btn-sm{type: 'button', style: 'margin: 0px;'}
                Search
              %button.btn.btn-default.btn-sm{type: 'button', style: 'margin: 0px;'}
                Create
:javascript
  $('#accordion').collapse({
    toggle: false
  });
